html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* global element styling */

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  background-color: #082B59;
  line-height: 2;
}

figure {
  margin: 3rem 0 0 0;
  flex-basis: 25%;
  
  
}

img {
  max-width: 100%;
  border-radius: 10px;
}

h1,
h2 {
  font-family: "Poppins",sans-serif;
}
h1
{
  font-size:2rem;
  margin-bottom: 0;
}

header {
  border-bottom: 10px solid #d98555;
}

footer {
  color: #f2f2f2;
  text-align: center;
  border-top: 10px solid #d98555;
}
footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
footer a {
  color: #f2f2f2;
  font-size: 2rem;
  display: block;
  margin: 0 1rem 3rem 1rem;
}

article {
  padding: 0 2rem;
  flex-basis: 73%;
}

a {
  color: #59331d;
}

a:hover {
  color: #51713a;
  text-decoration: none;
}
.button {
  display: inline-block;
  background-color: #59331D;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin: 0;
  color: #f2f2f2;
  text-decoration: none;
  border: 3px solid #59331d;
}
.button:hover {
  background-color: #f2f2f2;
  color: #59331d;
}

/* specific styling for product cards */

.tagline {
  font-family: "Poppins", serif;
  font-style: italic;
}

.card {
  background-color: #193e2e;
  color: #ffffff;
  border-radius: 10px;
}

.card h2 {
  padding: 1rem 1rem 0 1rem;
}

.card p {
  padding: 0rem 1rem 1rem 1rem;
}

.card img {
  border-radius: 0;
}



.flexrow1 img,
.flexrow2 img {
  border-radius: 10px;
}

/* establishes a white background */
.main-bkgd {
  background: #ffffff url(https://assets.codepen.io/6306176/gulp-bean-bkgd.jpg) repeat-x bottom;
  padding-bottom: 300px;
}
/* sits inside of the white background, centered */
.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

/* layout - mobile first! */

.container,
.home,
.products {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  
}

/* navbar */

nav {
  margin: 0 1rem;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav a {
  font-weight: normal;
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: block;
  color: #ffffff;
  margin: 0 0 2rem 0;
  text-align: center;
  
}

nav a:hover {
 
  color: #d98555;
}

nav img {
  max-width: 200px;
}

nav .logo a {
  background-color: transparent;
  margin: 0;
}

/* home page: make the captions display on the images -- OUTSIDE the media queries because we want this to happen always on all devices */

.flexrow1 figure,
.flexrow2 figure {
  display: grid;
  grid-template-rows: 2fr;
  margin-bottom: 1rem;
}

.flexrow1 img,
.flexrow2 img {
  grid-column: 1/2;
  grid-row: 1/2;
  border-radius: 10px 10px 10px 10px;
}

.flexrow1 figcaption,
.flexrow2 figcaption {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: #193e2e;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media (min-width: 550px) {
  nav {
    margin-left: 0;
  }
  nav ul {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    justify-content: center;
  }
  nav a {
    margin: 0 0 3rem 0;
  }
  .logo {
    flex-basis: 100%;
    text-align: center;
  }
}

@media (min-width: 750px) {
  .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .prodcontainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  .card h2,
  .card p {
    padding: 0 1rem;
  }
  /* apply our flexbox layout */
  .flexrow1,
  .flexrow2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 3rem;
  }
  .flexrow1 figure {
    flex-basis: 30%;
    margin-bottom: 0;
  }
  .flexrow2 figure {
    flex-basis: 45%;
    grid-template-rows: 2fr 0.5fr;
  }
}

@media (min-width: 900px) {
  nav ul {
    justify-content: flex-start;
  }
  nav a {
    margin-top: 5rem;
  }
  .logo {
    flex-basis: auto;
    margin-right: auto;
  }
  .flexrow2 figure {
    flex-basis: 20%;
    grid-template-rows: 2fr 0.2fr;
  }
}
